PRIVATE_KEY=35c02a2e661a3877ba466db4a28b4b2a48990e3c2e09608dedfa77fd2a04c2ba
SEPOLIA_RPC_URL=https://ethereum-sepolia.publicnode.com
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
ETHERSCAN_API_KEY=
ARBISCAN_API_KEY=
